//map
$breakpoint:(
    sp:'screen and (max-width:599px)',
    tab:'screen and (max-width:1055px)',
    pc:'screen and (min-width:1056x)',
);

@mixin mq($size) {
    @media #{map-get($breakpoint, $size)}{
        @content;
    }
}