$main: #6E551B;
$sub: #6F6142;
$green: #cac43b;
$blue: #3ab9b6;
$brown: #544031;
$black: #323232;
$white: #FFFFFF;
$gray: #E0E0E0;
$red: #FF0000;
$pink: #d488b7;

$sans: 'Noto sans JP';
$serif: 'Noto Serif JP';
$caslon: 'adobe-caslon-pro';